body{
    background-color: #000000
}

.name{
    color: white;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch: condensed;
    font-size: 30pt;
    padding: 10px 30px;
    border-bottom: white solid 2px;
}