@import url("https://use.typekit.net/llo2xui.css");

body{
    background-color: rgb(255, 255, 255);
    margin:50px;
}

.name{
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:rgb(22, 22, 22);
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
    line-height: 75px;
    word-spacing: -10px;
    letter-spacing: -6px;
}

.col-sm a{
    text-align: center;
    margin: auto;
}